body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html{
    width: 100vw;
    height: 100vh;
}

.mainPageHolder{
    border: solid 2px black;
    width: 25vw;
    height: 25vh;
    
}

