<div id="mainPageHolder" class="mainPageHolder">
    <h1><%=nome_curso%></h1> <!-- Sintaxe base do ejs -->
    <p><%= (nome_curso == "Banco de Dados") ? "Banco de Dados Daora" : "Outro Curso" %></p>
    <!-- Estou usando uma sintaxe diferente aqui [(condição) ? TRUE:FALSE] ela srve para fazer uma condição simples -->
    <!-- Experimentem com o ejs e o que ele é capaz de fazer :3-->
</div>
