<!-- post -->
<div>
    <div style="margin-left:7vw; margin-top:5vw;">
        <div class="post post-thumb" style="width: 40vw; height: 40vh; float: left; ">
            <a class="post-img" href="#"><img src="/images/post-1.jpg" alt=""></a>
            <div class="post-body" >
                <div class="post-meta">
                    <a class="post-category cat-2" href="#">AIESEC</a>
                    <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="#">Novas Oportunidades de Intercâmbio!</a></h3>
            </div>
        </div>
        <div class="post post-thumb" style="width: 40vw; height: 40vh; float: left; margin-left: 6vw;"> 
            <a class="post-img" href="#"><img src="/images/post-2.jpg" alt=""></a>
            <div class="post-body" >
                <div class="post-meta">
                    <a class="post-category cat-3" href="#">DEV</a>
                    <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="#">Palestra com executivos da RedHat!</a></h3>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4" style="margin-top:10vw; margin-left:1vw">
        <div class="post">
            <a class="post-img" href="#"><img src="/images/post-3.jpg" alt=""></a>
            <div class="post-body">
                <div class="post-meta">
                    <a class="post-category cat-1" href="#">BI</a>
                    <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="#">Por que BI?</a></h3>
            </div>
        </div>
    </div>

<div class="col-md-4">
        <div class="post" style="margin-top:10vw; margin-left:0vw">
            <a class="post-img" href="#"><img src="./images/post-4.jpg" alt=""></a>
            <div class="post-body">
                <div class="post-meta">
                    <a class="post-category cat-5" href="#">Games</a>
                    <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="#">Palestra GoGamers terá a presença de Flavinho Gameplays!</a></h3>
            </div>
        </div>
    </div>
    <!-- /post -->

    <!-- post -->
    <div class="col-md-4" style="width:20vw; height:10vw;" >
        <div class="post" style="margin-top:10vw; margin-left:0vw; width:30vw; height:10vw;">
            <a class="post-img" href="#"><img src="./images/post-5.jpg" alt=""></a>
            <div class="post-body">
                <div class="post-meta">
                    <a class="post-category cat-4" href="#">Inovação</a>
                    <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="#">Chegaram novos Raspberry Pi's na ESPM Tech</a></h3>
            </div>
        </div>
    </div>
</div>