<form>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Onde isso será registrado?</label>
        </div>
      <select class="custom-select" id="selectCurPor" onchange="clc()">
        <option selected>Choose...</option>
        <option value="portifolio" >Portifólio</option>
        <option value="curriculo" >Currículo</option>
      </select>
    </div>
    <div id="formPortifolio" class="portifolioForm">
        <form action=""method="">
                <div class="form-group">
                        <label for="">Nome do projeto</label>
                        <input type="nome_projeto" class="form-control" placeholder="Nome do projeto" id="nome_projeto">
                </div>   
                <div class="form-group">
                        <label for="">Descrição do projeto</label>
                        <input type="desc_projeto" class="form-control" placeholder="Descrição do projeto" id="desc_projeto">
                </div> 
                <div class="form-group">
                        <label for="exampleFormControlTextarea1">Area do projeto</label>
                        <textarea class="form-control" placeholder="Area do projeto" id="area_projeto" rows="3"></textarea>
                        
                </div>   
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Onde isso será registrado?</label>
                </div>
                <select class="custom-select" id="selectTipoProjeto" onchange="test()">
                    <option selected>Choose...</option>
                    <% for(let i = 0; i < tps.length; i++){%>
                        <option value="<%=tps[i].nome_tipo_projeto%>"><%= tps[i].nome_tipo_projeto%></option>
                    <%}%>
                </select> 
                <div class="form-group">
                        <label for="">Local do projeto</label>
                        <input type="local_projeto" class="form-control" placeholder="Local do Projeto" id="local_projeto">
                </div>

                <div class="form-row">
                    <input type="checkbox" id="terminando_projeto" name="terminando" value="projeto">
                    <label for="terminando_projeto">  Terminando o projeto?</label>
                </div>
                <div class="form-group">
                        <button type="enviar" class="btn btn-primary mb-2">Enviar</button>

                </div>
            </form>
    </div>
    <div id="formCurriculo" class="curriculoForm">
        <select class="form-control form-control-lg">
      
            <option>Escolha sua habilidade</option>
            <option>Games</option>
            <option>Desenvolvimento</option>
            <option>BI</option>
            <option>Inovacao</option>

          </select>
          <select class="form-control">
            <option>Nivel de proficiencia</option>
            <option>Baixo</option>
            <option>Medio</option>
            <option>Avancado</option>
          </select>
    </div>
</form>

<%- contentFor("scripts") %>
<script type="text/javascript">


    clc = () => {
        //if (actionGoingOn)
        //    return;

        let selectBox = document.getElementById("selectCurPor")
        let selectedValue = selectBox.options[selectBox.selectedIndex].value
        let divPort = document.getElementById("formPortifolio")
        let divCurr = document.getElementById("formCurriculo")
        actionGoingOn = true;
        // @@@ exibir waiting
        //request.get("url", (response, body, error) => {
        //    /// @@@ ocultar waiting
        //    actionGoingOn = false;



        //})
        if (selectedValue == "portifolio") {
            divPort.style.display = 'block'
            divCurr.style.display = 'none'
        }
        else if (selectedValue == "curriculo") {
            divPort.style.display = 'none'
            divCurr.style.display = 'block'
        }

    }

    test = () => {
        let selectBox = document.getElementById("selectTipoProjeto")
        let selectedValue = selectBox.options[selectBox.selectedIndex].value
        console.log(selectedValue)
    }
</script>
