<div id="mainPageHolder" class="mainPageHolder">
    <p><%=titulo%></p>
    <p>This website is under construction. If you're a front end folk, please direct yourself to one of the routes created on, either the app.ts file or some file under the routes folder</p>
</div>


<img class="pc" src="/images/pc.png"/>
<img class="mesa" src="/images/mesa.png"/>
<img class="armario" src="/images/armario.png"/>
<img class="disqueteira1" src="/images/disqueteira.png"/>
<img class="disqueteira2" src="/images/disqueteira.png"/>
<img class="disqueteira3" src="/images/disqueteira.png"/>
<img class="janela" src="/images/janela.png"/>
<img class="prateleira1" src="/images/prateleira.png"/>
<img class="prateleira2" src="/images/prateleira.png"/>
