<img class="background" src="images/background.png">
    <div class="furniture">
        <img class="desk" src="images/desk.png">
        <img class="computer" src="images/computer.png">
        <img class="wardrobe" src="images/wardrobe.png">
        <img class="board" src="images/board.png">
        <img class="shelf" src="images/shelf.png">
    </div>
    <div id="menu">
        <img class="photo" src="images/photo.png">
        <button class="botoes" id="registro" onclick="registroRedirect()">Registro</button>
        <button class="botoes" id="portfolio">Portfólio</button>
        <button class="botoes" id="curriculo">Currículo</button>
        <button class="botoes" id="loja">Loja</button>
    </div>

<%- contentFor("scripts")%>
<script type="text/javascript">
    function registroRedirect() {
        window.location.replace("/test")
    }
</script>