<div class="root">
  <div class="topo">
    <h1>Meu Portfólio</h1>

    <hr />
    <div>
      <h2>Portfolio</h2>
    </div>
  </div>
  <div class="main">
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="top"></div>
      <div class="column">
        <div class="content">
          <h3>Seminário final de Filosofia</h3>
          <p>
            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus
            necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit
            amet, tempor prodesset eos no.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h3>Projeto de montagem de dados</h3>
          <p>
            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus
            necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit
            amet, tempor prodesset eos no.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h3>Seminário de Economia</h3>
          <p>
            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus
            necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit
            amet, tempor prodesset eos no.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h3>Entrevista de modelos de gestão</h3>
          <p>
            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus
            necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit
            amet, tempor prodesset eos no.
          </p>
        </div>
      </div>
      <!-- END GRID -->
    </div>

    <div class="content">
      <div class="entidades">
        <h3>Entendides</h3>

        <h4>Game Lab</h4>
        <h5>ESPM Tech</h5>
        <p>
          Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus
          necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit
          amet, tempor prodesset eos no.
        </p>
        <h4>ESPM Social</h4>
        <h5>ESPM</h5>
        <p>
          Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus
          necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit
          amet, tempor prodesset eos no.
        </p>
        <h4>ESPM Junior</h4>
        <h5>ESPM</h5>
        <p>
          Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus
          necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit
          amet, tempor prodesset eos no.
        </p>
        <h4>Arenas</h4>
        <h5>ESPM</h5>
        <p>
          Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus
          necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit
          amet, tempor prodesset eos no.
        </p>
      </div>
    </div>

    <!-- END MAIN -->
  </div>
</div>
